<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.michel.startup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/michel/M4-startup/startup-all.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>root</string>
    <key>StandardOutPath</key>
    <string>/tmp/startup-all.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/startup-all.err</string>
</dict>
</plist>